bin/*
obj/*
todotxtlib.net.tests/bin/*
todotxtlib.net.tests/obj/*
todotxtlib.net.tests/*.user
packages/*
*.testsettings
packages.config
*.vsmdi
TodotxtLib.WindowsPhone/Bin/*
TodotxtLib.WindowsPhone/obj/*
todotxtlib.net.csproj.user
TodotxtLib.WindowsPhone/TodotxtLib.WindowsPhone.csproj.user
todotxtlib.net.3.5/bin/*
todotxtlib.net.3.5/obj/*