**/bin/*
**/obj/*
.vs
todotxtlib.net.tests/bin/*
todotxtlib.net.tests/obj/*
todotxtlib.net.tests/*.user
**/packages/*
*.testsettings
packages.config
*.vsmdi
TodotxtLib.WindowsPhone/bin/*
TodotxtLib.WindowsPhone/obj/*
TodotxtLib.WindowsPhone.7.1/bin/*
TodotxtLib.WindowsPhone.7.1/obj/*
todotxtlib.net.csproj.user
TodotxtLib.WindowsPhone/TodotxtLib.WindowsPhone.csproj.user
todotxtlib.net.3.5/bin/*
todotxtlib.net.3.5/obj/*
*.nupkg
_ReSharper.*
*.suo
*.user